<div class="dashboard-container">
  <p class="text-right activePath mb-1">Home > <b>Dashboard</b></p>
  <div class="dashboard-subContainer">
    <h2 class="mb-2">Dashboard</h2>
    <div class="d-flex justify-content-between">
      <div class="status">
           <h2 class="m-0">45</h2>
           <p class="m-0">New Application</p>
      </div>
      <div class="status">
        <h2 class="m-0">145</h2>
        <p class="m-0">Not Assigned</p>
      </div>
      <div class="status">
        <h2 class="m-0">845</h2>
        <p class="m-0">Assigned</p>
      </div>
      <div class="status">
        <h2 class="m-0">654</h2>
        <p class="m-0">Completed</p>
     </div>
    </div>
  </div>
</div>
