.dashboard-subContainer{
  background-color: #E9E9E9;
  border-radius: 2.5px;
  padding: 1.2rem 1.2rem 1rem 2.6rem;
  margin-top: .9rem;
  box-shadow: 0px 1px 1px #00000029;
}
.rowFilterSearch .mat-form-field{
  margin-right: .7rem;
}
.activePath{
  color:#707070 ;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Lato',sans-serif;
  line-height: 0;
}
.dashboard-subContainer h2{
  font-size: 18px;
  font-weight: 600;
  color: #707070;
  font-family: 'Lato',sans-serif;
}
.search{
  border-bottom: 1.7px solid rgb(112, 112, 112,.4);
  line-height: 0;
}
.search input{
  border: 0;
  font-size: 12px;
  font-weight: 500;
  color: #464A53;
  background-color: unset !important;
  height: 20px;
  padding: 0;
  position: relative;
  bottom: -3px;
}
.search input:focus{
  outline: none;
}
.search button{
  border: 0 !important;
  background-color: unset;
  position: relative;
  bottom: -3px;
  font-size: 10px;
  padding: 0 0 0 2px;
  color:rgb(112, 112, 112) ;
}
select{
  color: #464A53;
  font-weight: 500;
}
select:focus{
  outline: unset !important;
}
.rowFilter span{
  font-size: 9px;
  color: #707070;
  font-family: 'Lato',sans-serif;
  font-weight: 600;
}

.table-container{
  background-color: #FFFFFF;
  padding: .8rem .8rem .4rem .8rem;
}

table th,td{
  font-size: 10px;
  color: #ABAFB3;
  font-weight: 500;
}
.agentsTable{
  height: 44.7vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}
::-webkit-scrollbar-track {
  background: #FFFFFF !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(112, 112, 112,.7) !important;
}
thead{
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: inset .8px .8px .5px rgb(112, 112, 112,.4), inset -.8px -.8px .5px rgb(112, 112, 112,.4);;
}
thead th{
  padding: 0.4rem .9rem;
  color: #464A53;
  font-size: 10.5px;
}
.referrer{
  color: #005DFF !important;
  cursor: pointer;
}
.assignedApp button{
  border: 1.7px solid #707070;
  background-color: #707070;
  padding: 0rem .8rem;
  border-radius: 15px;
  color: #FFFFFF;
  line-height: 1.5 !important;
}
tbody th,td{
  padding: 0.7rem .9rem;
}
tbody th{
  border-left: 0 !important;
  color: #003DC7;
  cursor: pointer;
}
tbody td:last-child{
  border-right: 0 !important;
}
.footerTable p{
  font-size: 9px;
  font-weight: 600;
  color: rgb(70, 74, 83,.6);
}
::ng-deep .page-item.active .page-link,::ng-deep .page-item:focus .page-link{
  color: #7F63F4 !important;
  background-color: #FFFFFF !important;
  box-shadow: none !important;
}
::ng-deep .page-link:focus{
  box-shadow: none !important;
}
::ng-deep .page-link:hover{
  background-color: unset !important;
}
::ng-deep .pagination{
  margin-bottom: 0 !important;
}
::ng-deep .page-item:first-child .page-link, ::ng-deep .page-item:last-child .page-link{
  color: #7F63F4 !important;
}
::ng-deep .page-link{
  border: 0 !important;
  font-size: 9px;
  color: #ABAFB3 !important;
  font-weight: 500;
  padding: 0.3rem 0.5rem 0rem .5rem;
}
::ng-deep .page-item.disabled .page-link{
  color: #464A53 !important;
}
::ng-deep .popover-body {
  border-radius: 0 !important;
  border: .1px solid rgb(112, 112, 112,.5);
  padding: .9rem .6rem .73rem .6rem;
}
::ng-deep .popover{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0 !important;
  border:.2px solid rgb(112, 112, 112,.5) !important;
}
.popoverData p{
  font-size: 9px;
  font-family: 'Lato',sans-serif;
  color: #ABAFB3;
  margin: 0;
}
.popoverData p+p{
  font-size: 12px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple,::ng-deep .mat-form-field-underline{
  display: none !important;
}
::ng-deep .mat-form-field-wrapper,::ng-deep .mat-select-arrow{
  border: 0 !important;
  padding: 0 !important;
}
::ng-deep .mat-form-field-wrapper{
  bottom: .5px !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  border:1.7px solid rgb(112, 112, 112,.4) !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: #E9E9E9;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0 !important;
}
::ng-deep .mat-form-field-infix{
  border: 0 !important;
  height: 0;
}
.numberOfRows ::ng-deep .mat-form-field-infix{
  width: 35px !important;
}
::ng-deep .mat-form-field-infix{
  width: 80px !important;
}
::ng-deep .mat-select-value,::ng-deep .mat-select-placeholder{
  color: #464A53 !important;
  font-family: 'Lato',sans-serif;
  font-weight: 600;
}
::ng-deep .mat-select-trigger{
  height: 0 !important;
  bottom: 5px;
  left: 7px;
  font-size: 9px;
  font-weight: 500;
}
::ng-deep .mat-form-field-suffix{
  border-left: 0.6px solid rgb(120,120,120,.4);
  background-color: rgb(112,112,112,.1);
  box-shadow: 0px 0px 0px .8px rgb(112 112 112 / 40%);
  color: #707070;
}
.mat-icon{
  height: 20.7px !important;
  width: 18px !important;
}
::ng-deep .mat-form-field-suffix .mat-icon{
  font-size: 125% !important;
  line-height: 1.2 !important;
}
::ng-deep .mat-select-panel{
  border-radius: 0 !important;
  min-width: calc(100% + 22.3px) !important;
  border: 1.7px solid rgb(120,120,120,.4) !important;
  box-shadow: 0px 3px 6px #00000029 !important;
}
.mat-option{
  padding: 0 5.5px !important;
  font-size: 9px !important;
  font-family: 'Lato',sans-serif;
  font-weight: 600;
  color: #707070;
}
::ng-deep .cdk-overlay-pane{
  transform: translateX(-8.8px) translateY(15.6px) !important;
}
::ng-deep .mat-select-panel .mat-option{
  height: 2.5em !important;
}


