<div class="dashboard-container">
  <p class="text-right activePath mb-1">Home > Loan Application > <b>BL1234567890</b></p>
  <div class="dashboard-subContainer">
    <div class="customerHeader">
      <h2 class="mb-0 d-inline pt-1 pr-4">Loan Application # BL1234567890</h2>
      <button type="button">Assigned</button>
    </div>
    <div class="search pt-1 pb-3" [ngClass]="{'searchField':isEdit,'editField':!isEdit}">
      <mat-form-field class="example-full-width" appearance="fill">
             <input type="text"
               [readonly]="isRead"
               placeholder="Assign To"
               aria-label="Assign To"
               matInput
               [formControl]="search"
               [value]=""
               [matAutocomplete]="auto">
        <button class="searchBtn" *ngIf="isEdit" matSuffix><i class="fa fa-search"></i></button>
        <button data-backdrop="static" data-toggle="modal" data-target="#exampleModal" class="editBtn" *ngIf="!isEdit" matSuffix><i class="fa fa-pencil"></i></button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option data-backdrop="static" data-toggle="modal" data-target="#exampleModal" (onSelectionChange)="updateMySelection(option,$event)" *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{option?.name+' - '+option.phoneNo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
       <div class="customerDetails px-3 py-3">
            <h2>Customer Personal Details</h2>
            <div class="row">
              <div class="col-4">
                 <p>Full Name</p>
                 <p>Suraj Prasad Nath</p>
              </div>
              <div class="col-4">
                  <p>Phone No.</p>
                  <p>8904167169</p>
              </div>
              <div class="col-4">
                <p>Email</p>
                <p>nathsurajprasad@gmail.com</p>
              </div>
              <div class="col-4">
                <p>Gender</p>
                <p>Male</p>
             </div>
             <div class="col-4">
                 <p>Date Of Birth</p>
                 <p>29/08/1990</p>
             </div>
             <div class="col-4">
               <p>PAN</p>
               <p>ALMPN2890D</p>
             </div>
            </div>
            <hr>
            <h2>Loan Details</h2>
            <div class="row">
              <div class="col-4">
                 <p>Purpose Of Loan</p>
                 <p>Business Expansion</p>
              </div>
              <div class="col-4">
                  <p>Loan Amount</p>
                  <p>₹ 2,00,000</p>
              </div>
              <div class="col-4">
                <p>Bank</p>
                <p>Fullerton India</p>
              </div>
            </div>
            <hr>
            <h2>Business Details</h2>
            <div class="row">
              <div class="col-4">
                 <p>Type Of Business</p>
                 <p>Business Type 1</p>
              </div>
              <div class="col-4">
                  <p>Owning Current Business</p>
                  <p>JAN 2012</p>
              </div>
              <div class="col-4">
                <p>Total Business/Work Experience</p>
                <p>6 Years 4 Months</p>
              </div>
              <div class="col-4">
                <p>Monthly Sales</p>
                <p>₹ 40,000</p>
              </div>
            </div>
            <hr>
            <h2>Customers Address</h2>
            <div class="row">
              <div class="col-6">
                 <p>Resident Type</p>
                 <p>Rental</p>
              </div>
              <div class="col-6">
                  <p>Staying here since</p>
                  <p>JAN 2012</p>
              </div>
              <div class="col-6">
                <p>Current Address</p>
                <p>H.No 11, Adarshnagar, Airport Road, Chicalim, Vasco, Goa. 403711</p>
              </div>
              <div class="col-6">
                <p>Permanent Address</p>
                <p>H.No 11, Adarshnagar, Airport Road, Chicalim, Vasco, Goa. 403711</p>
              </div>
            </div>
            <hr>
            <h2>Referrer Details</h2>
            <div class="row">
              <div class="col-4">
                 <p>Referrer Name</p>
                 <p>Chandra Rai</p>
              </div>
              <div class="col-4">
                  <p>Referrer Phone No</p>
                  <p>8904732883</p>
              </div>
              <div class="col-4">
                <p>Referrer Agent/ Employee ID</p>
                <p>2407</p>
              </div>
            </div>
       </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" id="assign" class="close" hidden data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <div class="body-data text-center">
          <h2>You are assigning Loan Application</h2>
          <h2># BL1234567890 to</h2>
          <div class="customerDeta text-left mt-2">
             <p>Name: {{ selectedCustomer ? selectedCustomer?.name : "Chandra Rai" }}</p>
             <p>Phone: {{ selectedCustomer ? selectedCustomer?.phoneNo : "8903663663"}}</p>
             <p>Address: Bangalore, Karnataka</p>
             <p>Agent ID: 2407</p>
          </div>
        </div>
        <div class="d-flex justify-content-between pt-2" style="padding-bottom: .7rem;">
          <button type="button" (click)="isAssign = false;search.reset();isEdit=true;isRead=false;" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="assignTo()">Assign</button>
        </div>
        <p *ngIf="isAssign" class="text-center success m-0"><img style="color: #00C21A;padding-bottom: .15rem;" src="assets/Icon-Check Outline.svg" width="13px" alt="edit-icon">&nbsp;Assigned Succefullly</p>
      </div>
    </div>
  </div>
</div>


